# Node.js dependencies
backend/node_modules/
node_modules/
package-lock.json

# Python virtual environment and cache
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Python ML Model and Data artifacts (Agar aap trained model push nahi karna chahte)
ml-service/model/model.pkl
*.pkl

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/